nav {
    position: fixed;
    width: 92%;
    margin: 2rem;
    padding: 0.5rem 2rem;
    background-color: rgba(11, 8, 28, 50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;

    img {
        cursor: pointer;
    }
  
    ul {
      padding: 0;
      display: flex;
      justify-content: center;
      gap: 4rem;
  
      li {
        list-style: none;
        cursor: pointer;
      }
    }
  
    button {
      padding: 0.75rem 1.5rem;
      color: #0B081C;
      border-radius: 20px;
    }
  }
  